<h1>Eventos </h1>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <input
    type="text" class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
{{filtroLista}}
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="alterarImagem()">
          {{!mostrarImagem ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarImagem"
             [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-primary btn-sm mr-2">Editar</button>
        <button class="btn btn-outline-danger btn-sm">Excluir</button>

      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
<!--
Diretivas Estruturais<hr>
*ngIf
*ngFor
*ngShow
<hr>
Binding e Interpolações
<!-- {{eventos[0].imagemUrl}} -->
{{1+1}} <hr>
{{eventos | json}}

 -->
